@model IEnumerable<QuirkyBookRental.Models.Book>
@using QuirkyBookRental.Models

@{
    ViewBag.Title = "Index";
}

<br />

<h3>Manage Books</h3>

@Html.Partial("_CreateButtonPartial")

<br />
<br />
<br />

<table class="table table-condensed table-hover">
    <tr style="border-bottom: 1px solid red">
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avaibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </th>
            <td>
                @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { BookId = item.Id })
            </td>
        </tr>
    }

</table>
